.draggable{
    position: relative;
}
.drag-node{
    outline: none;
    border: none;
    padding: 0;
    
    background-color: turquoise;
    position: absolute;
    right: 0px;
    width: 1px;
    height: 100%;
    //right: auto;
}
.drag-node:hover{
    cursor: ew-resize;
}