.chatWindow{

}
.message-block{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 75vw !important;
    img{
        height: 3rem;
        max-width: 3rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
    h1{
        margin: 0px;
        margin-bottom: 1rem;
        font-size: 1.1em;
        font-weight: normal;
        color: darken($secondary_ui_text, 10%);
    }
    
}
.message-content{
    margin: 0 20% 0 0;
    p{
        margin: 0px;
        font-size: 1em;
        color: lighten($secondary_ui_text, 2%);
    }
}
.message-block:hover{
    background-color: darken($background, 1%);
}